# ── Maven ────────────────────────────────────────────────────
target/
*.jar
*.war
*.ear
*.class

# ── Eclipse IDE ──────────────────────────────────────────────
.classpath
.project
.settings/
.metadata/
bin/

# ── Spring Boot ──────────────────────────────────────────────
*.log
logs/


# ── Docker / IA ──────────────────────────────────────────────
laivyIA/docker-compose.yml
laivyIA/

# ── Sistema operacional ──────────────────────────────────────
.DS_Store
Thumbs.db
desktop.ini

# ── IntelliJ  ─────────────────────
.idea/
*.iml
*.iws
*.ipr